export_russian_questions.json
debug.log
/staticfiles
**/__pycache__/
/venv
.vscode/
.vs
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
/env
.env 
.venv
env.bak/ 
venv.bak/
/__pycache__
__pycache__/
*.log
*.pot
*.pyc
*/migrations/[!__init__]*.py
nginxlocal.conf
/app
/static
nohup.out
# /media/*
*.session