{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kaspi Info</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Custom CSS for centering image */
    .center-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="mb-4">Kaspi Info</h2>
        <img src="{% static 'img/SynaqTestkz-QR_240709_173741-1.png' %}" alt="QR Code" class="center-image mb-4">
        <p class="lead">Scan the QR code or click the link below to proceed:</p>
        <a href="https://kaspi.kz/pay/_gate?action=service_with_subservice&service_id=3025&subservice_id=21723&region_id=18" class="btn btn-primary">Go to Kaspi</a>
        <a href="{% url 'profile' %}" class="btn btn-primary">Вернуться</a>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies (optional if needed) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
